/*VAR*****************************************/
:root{
    --bg-top-bottom:#2C3E50;
    --bg-section-green:#1ABC9C;
}


/*RESET***************************************/
a{
    text-decoration: none;
    color: currentColor;
}

/*UTILITES***********************************/
.my_bg-dark{
    background-color: var(--bg-top-bottom);
}
.my_bg-green{
    background-color: var(--bg-section-green);
}
.my_text-white{
    color: white;
}


/*COMPONENTS*********************************/
.my_star::after ,.my_star::before{
    content: '';
    width: 100px;
    border-top: 4px solid currentColor;
    border-radius: 999px;
}
.my_portfolio .my_star, .my_contact .my_star{
    color:#2C3E50;    
}


/*HERO**************************************/
.my_hero img{
    max-width: 200px;
}
@media (min-width:768px){
    .my_hero img{
        max-width: 260px;
    }
}


/*ABOUT************************************/
.my_i{
    padding-right: 10px;
}

@media (min-width:768px){
    .my_about p{
        column-count: 2;
    }
}
/*CONTACT************************************/
.my_form{
    border-top: none;
    border-left: none;
    border-right: none;
}


/*INFO*****************************************/
.my_info{
    background-color:#3A546D ;
}


/*COLOPHONE************************************/
.my_colophone p{
    font-size: 14px;
}