/*VAR*****************************************/
:root{
    --bg-top-bottom:#2C3E50;
    --bg-section-green:#1ABC9C;
}


/*RESET***************************************/
a{
    text-decoration: none;
    color: currentColor;
}

/*UTILITES***********************************/
.my_bg-dark{
    background-color: var(--bg-top-bottom);
}
.my_bg-green{
    background-color: var(--bg-section-green);
}
.my_text-white{
    color: white;
}